@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@keyframes rotateHue {
  from {
    --hue-offset: 0;
  }
  to {
    --hue-offset: 360;
  }
}

#gradientContainer {
  width: 100vw;
  height: 100vh;
  --hue-offset: 0;
  animation: rotateHue 10s linear infinite;

  background-color: hsla(25, 100%, 89%, 1);
  background-image:
    radial-gradient(at 40% 20%, hsla(calc(25 + var(--hue-offset)), 100%, 86%, 1) 0px, transparent 50%),
    radial-gradient(at 73% 28%, hsla(calc(28 + var(--hue-offset)), 100%, 86%, 1) 0px, transparent 50%),
    radial-gradient(at 34% 69%, hsla(calc(189 + var(--hue-offset)), 100%, 86%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 52%, hsla(calc(355 + var(--hue-offset)), 100%, 86%, 1) 0px, transparent 50%),
    radial-gradient(at 61% 74%, hsla(calc(340 + var(--hue-offset)), 100%, 86%, 1) 0px, transparent 50%),
    radial-gradient(at 22% 36%, hsla(calc(22 + var(--hue-offset)), 100%, 86%, 1) 0px, transparent 50%),
    radial-gradient(at 54% 38%, hsla(calc(240 + var(--hue-offset)), 100%, 86%, 1) 0px, transparent 50%);
}
